<div class="card" style="width: 18rem;">
    <img src="https://imgs.search.brave.com/ieUHQW-j1R8v6z-BK2zJBLduJO-5iohBlnKOwp6iUBg/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTU1/NDM5MzE1L3Bob3Rv/L3Bhc3Nlbmdlci1h/aXJwbGFuZS1mbHlp/bmctYWJvdmUtY2xv/dWRzLWR1cmluZy1z/dW5zZXQuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPUxKV2Fk/YnMzQi1qU0dKQlZ5/OXMwZjhnWk1IaTJO/dldGWGEzVkoybEZj/TDA9" class="card-img-top" alt="a flight">
    <div class="card-body">
      <h5 class="card-title">Aerospace & Defence Care</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>