<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://imgs.search.brave.com/dNxYhG2GpowWeayoPM3_vxEzJL4uk4YiBAJTzQ-HVbo/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTg0/MjY4MDM0L3Bob3Rv/L2NvbG9yZnVsLXRv/cm9udG8tY2l0eXNj/YXBlLWF0LXN1bnNl/dC5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9akJRY3lhQWRK/UHRVbmtrOXk0SUFP/aEZRSDFWaDYxX1Vm/VUV3WjlwLW16bz0" height="500" width="600" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://imgs.search.brave.com/zvfAGS3IvKjnLjjmAAH5UZU_o5NUw68TKugbOlo-wjM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ2/OTMyMDE4Ni9waG90/by9wb3J0cmFpdC1v/Zi1hLXdvbWFuLXdh/bGtpbmctaW4tdG9y/b250by5qcGc_cz02/MTJ4NjEyJnc9MCZr/PTIwJmM9QU9TRnYz/aGpXRnptM0NtUnZ3/LXM5RE1PbmRxeWpU/ZWZuRHdLS1hFZUlw/Yz0" height="500" width="600" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://imgs.search.brave.com/A1g3HIVyF53pk_YrZz0qOisvTPAwV07XS1GJtghqV5c/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3ZpdGUvYXNz/ZXRzL3Bob3RvLUM4/cTBLUUhHLndlYnA" height="500" width="400" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>